<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Outcomes Management System</title>
</head>
<body>
    <div class="results card-body" id="results" th:fragment="resultsTable">
        <table id="results-table" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Course ID</th>
                <th scope="col">Course</th>
                <th scope="col">Code</th>
                <th scope="col">Program</th>
                <th scope="col">Category</th>
                <th scope="col">Learning Outcomes</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "course: ${courses}">
                <th th:text = "${course.id}"></th>
                <td th:text = "${course.name}"></td>
                <td th:text = "${course.code}"></td>
                <td>
                    <span th:each="allPrograms: ${course.programs}" th:utext = "${allPrograms.name + '&lt;br /&gt;'} "></span>
                </td>
                <td>
                    <span th:each="allOutcomes: ${course.learningOutcomes}" th:utext="${allOutcomes.category.name + '&lt;br /&gt;'}"></span>
                </td>
                <td>
                    <span th:each="allOutcomes: ${course.learningOutcomes}" th:utext = "${allOutcomes.name + '&lt;br /&gt;'}"></span>
                </td>
                <td><button class="btn btn-dark"  type="submit"><i class="fas fa-pencil-alt"></i></button></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>