<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Learning Outcomes Management System</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/index.css" rel="stylesheet" th:href="@{/css/index.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info justify-content-between">
        <a class="navbar-brand" href="/"><i class="fas fa-graduation-cap"></i> Learning Outcomes Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
            <form class="form-inline my-2 my-sm-0 offset-lg-8" th:action="@{/logout}" method="post">
                <div class="form-check-inline form-row">
                    <h6 style="margin-right: 6px; margin-top: 8px;" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h6>
                    <button class="btn btn-outline-light my-2 my-sm-2" type="submit">Log Out</button>
                </div>
            </form>
        </div>
    </nav>
    <!-- Modal Edit -->
    <div class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Course</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <input id="editId" type="hidden" value="-1" />
                        <!-- Select Course Name -->
                        <div class="form-group row">
                            <label for="courseNameEdit" class="col-sm-4 col-form-label">Course Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="courseNameEdit" placeholder="ex: Operating Systems">
                            </div>
                        </div>
                        <!-- Select Course Code -->
                        <div class="form-group row">
                            <label for="courseCodeEdit" class="col-sm-4 col-form-label">Course Code</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="courseCodeEdit" placeholder="ex: 4001">
                            </div>
                        </div>
                        <!-- Select Year -->
                        <div class="form-group row">
                            <div class="col-md col-lg-10">
                                <label for="courseYearSelectEdit"> Choose Year</label>
                                <select class="custom-select mr-sm-2" id="courseYearSelectEdit">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <!-- Select Programs -->
                        <div class="form-group row">
                            <div class="col-md col-lg-10">
                                <label for="programSelectEdit"> Choose Programs</label>
                                <select style="width:100%;" class="form-control select2" id="programSelectEdit" multiple="multiple"></select>
                            </div>
                        </div>
                        <!-- Select Learning Outcomes -->
                        <div class="form-group row">
                            <div class="col-md col-lg-10">
                                <label for="loSelectEdit"> Choose Learning Outcomes</label>
                                <select style="width:100%;" class="form-control select2" id="loSelectEdit" multiple="multiple"></select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="editConfirm()" data-dismiss="modal">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End of Modal Edit Code -->

    <div class="results" id="resultsPage">
        <div class="col">
            <div class="card" onlick="active();">
                <div class="card-header">
                    <div class="row">
                        <div class="my-2 col-8">Data Editor - Full Results</div>
                        <div class="col-2">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle btn-block" type="button" id="addDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Add New
                                </button>
                                <div class="dropdown-menu" aria-labelledby="addDropdown">
                                    <button id="addCourseBtn" type="button" class="dropdown-item" data-toggle="modal" data-target="#addCourseModal">Course </button>
                                    <button id="addCategoryBtn" type="button" class="dropdown-item" data-toggle="modal" data-target="#addCategoryModal">Category</button>
                                    <button id="addLearningOBtn" type="button" class="dropdown-item" data-toggle="modal" data-target="#addLOModal">Learning Outcome</button>
                                    <button id="addProgramBtn" type="button" class="dropdown-item" data-toggle="modal" data-target="#addProgramModal">Program</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle btn-block" type="button" id="deleteDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Delete
                                </button>
                                <div class="dropdown-menu" aria-labelledby="deleteDropdown">
                                    <button type="button" class="dropdown-item" data-toggle="modal" data-target="#delLO">Learning Outcome</button>
                                    <button type="button" class="dropdown-item" data-toggle="modal" data-target="#delCategory">Category</button>
                                    <button type="button" class="dropdown-item" data-toggle="modal" data-target="#delProgram">Program</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Adds - Once the different Add buttons are pressed one of these modals will open up -->
                    <div class="modal fade bd-example-modal-lg" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addCourseLabel">Add New Course Entry (No entry can be empty)</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form>
                                    <div class="modal-body">
                                        <div class="form-group row">
                                            <label for="courseNameAdd" class="col-sm-4 col-form-label">Course Name</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="courseNameAdd" onchange="successCourse()" onkeyup="successCourse()"  placeholder="ex: Operating Systems">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="codeAdd" class="col-sm-4 col-form-label">Course Code</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="codeAdd" onchange="successCourse()" onkeyup="successCourse()"  placeholder="ex: 4001">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="yearAdd" class="col-sm-4 col-form-label"> Choose year:</label>
                                            <div class="col-sm-10">
                                                <select class="custom-select select2 mr-sm-2" id="yearAdd">
                                                    <option></option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="loAdd" class="col-sm-4 col-form-label">Learning Outcomes</label>
                                            <div class="col-sm-10">
                                                <select type='text' class="select2" id="loAdd" onchange="successCourse()" style="width: 100%" multiple="multiple">
                                                    <option></option>
                                                    <option th:each="learningO: ${learningoutcomes}" th:value="${learningO.name}" th:text="${learningO.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="programAdd" class="col-sm-4 col-form-label" style="align-self: end">Program</label>
                                            <div class="col-sm-10">
                                                <select type='text' class="select2" id="programAdd" onchange="successCourse()" style="width: 100%" multiple="multiple">
                                                    <option></option>
                                                    <option th:each="program: ${programs}" th:value="${program.name}" th:text="${program.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="buttonCourse" onclick="addCourse();" data-dismiss="modal" disabled>Add New</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade bd-example-modal-lg" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addCategoryLabel">Add New Category Entry (No entry can be empty)</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form>
                                    <div class="modal-body">
                                        <div class="form-group row">
                                            <label for="courseNameAdd" class="col-sm-4 col-form-label">Category Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="categoryNameAdd" onchange="successCategory()" onkeyup="successCategory()"  placeholder="ex: Software Architecture">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="buttonCategory" onclick="addCategory();" data-dismiss="modal" disabled>Add New</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade bd-example-modal-lg" id="addLOModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addLOLabel">Add New Learning Outcome Entry (No entry can be empty)</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form>
                                    <div class="modal-body">
                                        <div class="form-group row">
                                            <label for="courseNameAdd" class="col-sm-4 col-form-label">Learning Outcome Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="loNameAdd" onchange="successLO()" onkeyup="successLO()"  placeholder="ex: Design Software Systems">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="loCategoryAdd" class="col-sm-4 col-form-label">Category</label>
                                            <div class="col-sm-10">
                                                <select type='text' class="select2" id="loCategoryAdd" onchange="successLO()" style="width: 100%">
                                                    <option></option>
                                                    <option th:each="category: ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="buttonLO" onclick="addLO();" data-dismiss="modal" disabled>Add New</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade bd-example-modal-lg" id="addProgramModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addProgramLabel">Add New Course Entry (No entry can be empty)</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form>
                                    <div class="modal-body">
                                        <div class="form-group row">
                                            <label for="courseNameAdd" class="col-sm-4 col-form-label">Program Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="programNameAdd" onchange="successProgram()" onkeyup="successProgram()"  placeholder="ex: Civil Engineering">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="loCategoryAdd" class="col-sm-4 col-form-label">Course</label>
                                            <div class="col-sm-10">
                                                <select type='text' class="select2" id="programCourseAdd" onchange="successProgram()" style="width: 100%" multiple="multiple">
                                                    <option></option>
                                                    <option th:each="course: ${courses}" th:value="${course.name}" th:text="${course.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="buttonProgram" onclick="addProgram();" data-dismiss="modal" disabled>Add New</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- End of Modal Add Code -->

                    <!-- Modal Deletes-->
                    <div class="modal fade" id="delLO" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-primary">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Delete Learning Outcome</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row align-items-center">
                                        <div class="col-md col-lg-4">
                                            <label for="delSelectLO">Learning Outcomes</label>
                                            <select id="delSelectLO" class="custom-select select2" style="width: 100%">
                                                <option></option>
                                                <option th:each="learningO: ${learningoutcomes}" th:value="${learningO.name}" th:text="${learningO.name}"></option>
                                            </select>
                                        </div>
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="deleteObject('LO')">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="delCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-primary">
                                    <h5 class="modal-title">Delete Category</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label for="delSelectcategory">Categories</label>
                                    <select id="delSelectcategory" class="custom-select select2" style="width: 100%">
                                        <option></option>
                                        <option th:each="category: ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="deleteObject('category')">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="delProgram" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-primary">
                                    <h5 class="modal-title">Delete Program</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label for="delSelectprogram">Programs</label>
                                    <select id="delSelectprogram" class="custom-select select2" style="width: 100%">
                                        <option></option>
                                        <option th:each="program: ${programs}" th:value="${program.name}" th:text="${program.name}"></option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="deleteObject('program')">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Modal Deletes -->

                </div>
                <div class="card-body">
                    <div class="row results" th:replace="fragments/adminResults :: resultsTable"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ======================================================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
    <script src="/js/index.js" th:href="@{/js/index.js}"></script>
    <script src="/js/admin.js" th:href="@{/js/admin.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</body>
</html>