<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Learning Outcomes Management System</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/index.css" rel="stylesheet" th:href="@{/css/index.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info justify-content-between">
        <a class="navbar-brand" href="#"><i class="fas fa-graduation-cap"></i> Learning Outcomes Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
            <form class="form-inline my-2 my-sm-0 offset-lg-8" th:action="@{/logout}" method="post">
                <div class="form-check-inline form-row">
                    <h6 style="margin-right: 6px; margin-top: 8px;" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h6>
                    <button class="btn btn-outline-light my-2 my-sm-2" type="submit">Log Out</button>
                </div>
            </form>
        </div>
    </nav>
    <div class="results">
        <div class="col">
            <div class="card" onlick="active();">
                <div class="card-header">
                    <div class="row">
                        <div class="my-2 col-11">Data Editor - Full Results</div>
                        <div class="col-1">
                            <button id="addBtn" type="button" class="btn btn-info" data-toggle="modal" data-target="#addModal">
                                Add <i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                    <!--Data Editor - Full Results-->
                    <!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
                    <!--<button id="addBtn" type="button" class="btn btn-info" data-toggle="modal" data-target="#addModal">-->
                        <!--Add <i class="fas fa-plus"></i>-->
                    <!--</button>-->


                    <!-- Modal Add - Once Add button is pressed this will open up -->
                    <div class="modal fade bd-example-modal-lg" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addModalLabel">Add New Data Entry (No entry can be empty)</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form>
                                    <div class="modal-body">
                                        <div class="form-group row">
                                            <label for="courseNameAdd" class="col-sm-4 col-form-label">Course Name</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="courseNameAdd" onchange="success()" onkeyup="success()"  placeholder="ex: Operating Systems">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="codeAdd" class="col-sm-4 col-form-label">Course Code</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="codeAdd" onchange="success()" onkeyup="success()"  placeholder="ex: 4001">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="yearAdd" class="col-sm-4 col-form-label"> Choose year:</label>
                                            <div class="col-sm-10">
                                                <select class="custom-select select2 mr-sm-2" id="yearAdd">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="categoryAdd" class="col-sm-4 col-form-label">Category</label>
                                            <div class="col-form-label">
                                                <button id="addNewCategory" type="button" class="btn btn-info" data-toggle="modal" data-target="#addModal">Add New Category <i class="fas fa-plus"></i></button>
                                            </div>
                                            <div class="col-sm-10">
                                                <select type='email' class="select2" id="categoryAdd" onchange="success()" style="width: 100%" multiple="multiple">
                                                    <option th:each="category: ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="loAdd" class="col-sm-4 col-form-label">Learning Outcomes</label>
                                            <div class="col-form-label">
                                                <button id="addNewLo" type="button" class="btn btn-info" data-toggle="modal" data-target="#addModal">Add New Learning Outcome <i class="fas fa-plus"></i></button>
                                            </div>
                                            <div class="col-sm-10">
                                                <select type='email' class="select2" id="loAdd" onchange="success()" style="width: 100%" multiple="multiple">
                                                    <option th:each="learningO: ${learningoutcomes}" th:value="${learningO.name}" th:text="${learningO.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="programAdd" class="col-sm-4 col-form-label" style="align-self: end">Program</label>
                                            <div class="col-form-label">
                                                <button id="addNewProgram" type="button" class="btn btn-info" data-toggle="modal" data-target="#addModal">Add New Program <i class="fas fa-plus"></i></button>
                                            </div>
                                            <div class="col-sm-10">
                                                <select type='email' class="select2" id="programAdd" onchange="success()" style="width: 100%" multiple="multiple">
                                                    <option th:each="program: ${programs}" th:value="${program.name}" th:text="${program.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="button" onclick="add();" data-dismiss="modal" disabled>Add New</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- End of Modal Add Code -->

                </div>
                <div class="card-body">
                    <div class="row results" th:replace="fragments/adminResults :: resultsTable"></div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete?</h5>
                    </div>
                    <div class="modal-body">
                        The detail of that selected course. Or an indication (Course ID: #)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- ======================================================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
    <script src="/js/index.js" th:href="@{/js/index.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</body>
</html>