<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Outcomes Management System</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/index.css" rel="stylesheet" th:href="@{/css/index.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#">Learning Outcomes Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <button class="btn btn-outline-light my-2 my-sm-0 offset-lg-10" type="button">Admin Login</button>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row programYearSelect">
            <div class="col">
                <div class="card border-primary bg-light">
                    <div class="card-header bg-primary">
                        Program and Year Selection
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-row align-items-center">
                                <div class="col-md col-lg-4">
                                    <label  for="programSelect"> Choose program: </label>
                                    <select class="custom-select select2 mr-sm-2" id="programSelect">
                                        <option th:each="program: ${programs}" th:text="${program.name}"></option>
                                    </select>
                                </div>
                                <div class="col-md col-lg-4">
                                    <label for="yearSelect"> Choose year:</label>
                                    <select class="custom-select select2 mr-sm-2" id="yearSelect">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="col-md col-lg-2 offset-lg-1">
                                    <button type="button" class="btn btn-info btn-block" onclick="getResults();">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row filters">
            <div class="col">
                <div class="card bg-light">
                    <div class="card-header">
                        Filters
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-row align-items-center">
                                <div class="col-md col-lg-4">
                                    <label  for="programSelect"> Choose course(s): </label>
                                    <select class="form-control select2" id="courseSelect" multiple="multiple" size="5">
                                        <option th:each="course: ${courses}" th:value="${course.name}" th:text="${course.name}"></option>
                                    </select>
                                </div>
                                <div class="col-md col-lg-4">
                                    <label  for="programSelect"> Choose categories: </label>
                                    <select class="form-control select2" id="categorySelect" multiple="multiple">
                                        <option th:each="category: ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
                                    </select>
                                </div>
                                <div class="col-md col-lg-2 offset-lg-1">
                                    <button type="submit" class="btn btn-info btn-block">Apply Filter(s)</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row results" th:replace="fragments/results :: resultsTable">
    </div>

    <!-- ======================================================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <script src="/js/index.js" th:href="@{/js/index.js}"></script>
    <!--Starting jQuery library select2 for searchable select boxes https://select2.org/-->
    <script>
        $(document).ready(function() {
            $('.select2').select2({
                placeholder: 'Choose...',
                allowClear: true
            });
        });
    </script>
</body>
</html>