<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Login</title>

    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/login.css" rel="stylesheet" th:href="@{/css/login.css}"/>
</head>

<body>
<div class="wrapper fadeInDown">
    <div id="formContent">

        <!--/*@thymesVar id="param" type=""*/-->
        <!--/*@thymesVar id="error" type=""*/-->
        <div class="alert alert-danger" th:if="${param.error}">
            Invalid username and password.
        </div>

        <div class="alert alert-info" th:if="${param.logout}">
            You have been logged out.
        </div>
        <!-- Tabs Titles -->

        <!-- Icon Unsure how to fix this part, image not appearing-->
        <div class="fadeIn first">
            <img src="../static/img/school-cap.png" style="width: 10%; height: auto;" th:src="@{/img/school-cap.png}"/>
        </div>

        <!-- Login Form -->
        <form th:action="@{/login}" method="post">
            <div><label><input type="text" name="username" class="fadeIn second" placeholder="login"/> </label></div>
            <div><label><input type="password" name="password" class="fadeIn third" placeholder="password"/> </label></div>
            <div><input type="submit" class="fadeIn fourth" value="Sign In"/></div>
        </form>

        <!-- Remind Password -->
        <div id="formFooter">
            <a class="underlineHover" href="/">Go Back To Home</a>
        </div>

    </div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
